*.pyc
*.pdf
*.zip
*.DS_Store
*__pycache__


experiments/*/
!experiments/prototypes
public_export
dist

docs/build
docs/source/modules.rst
docs/source/pytabkit.*

.coverage*

.idea
catboost_info
tab_bench_data
rtdl_checkpoints
examples/.ipynb_checkpoints
batches

scripts/custom_paths.py

env/
logits/
my_data/
results_old/
tabrepo/
notebooks